.contacts-top {
  display: flex;
}

.contacts-top__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-top__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--hero-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: var(--transition-time) var(--time-distribution-function);
}

.contacts-top__link:hover,
.contacts-top__link:focus {
  color: var(--accent-color);
}

.contacts-top__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* contacts-bottom */
.contacts-bottom {
  margin: 0px;
  padding: 0px;
}

.contacts-bottom__item {
  height: 21px;
}

.contacts-bottom__item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-bottom__location {
  color: var(--body-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts-bottom__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: var(--transition-time) var(--time-distribution-function);
}

.contacts-bottom__link:focus,
.contacts-bottom__link:hover {
  color: var(--accent-color);
}
