.clients {
  padding-top: 94px;
}

.clients__items {
  display: flex;
}

.clients__item {
  display: flex;
  width: calc((100% - 150px) / 6);
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  fill: var(--cliennt-color);
  border: 1px solid #afb1b8;

  box-sizing: border-box;

  border-radius: 4px;
  width: 100%;
  height: 90px;
  margin: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: var(--transition-time) var(--time-distribution-function);
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
