/* contacts-top */

.contacts-top {
  display: flex;
}

.contacts-top__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-top__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-gray-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: var(--transition-time) var(--time-distribution-function);
}

.contacts-top__link:hover,
.contacts-top__link:focus {
  color: var(--accent-blue-color);
}

.contacts-top__icon {
  margin-right: 10px;
  fill: currentColor;
}
